%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info, 
            {i, "deps/common.utils/include"},
            {i, "../../deps/common.utils/include"}
]}.
{sub_dirs, [
            "deps/common.utils"
            ]}.

{deps, [
{'erlyweb', "", {git, "git://github.com/khia/erlyweb.git", "HEAD"}}, 
{'common.utils', "", {git, "git://github.com/khia/common.utils.git", "HEAD"}},
{'common.node', "", {git, "git://github.com/khia/common.node.git", "HEAD"}}
%%{'odbc', ".*", {git, "git://github.com/khia/common.utils.git", "rebar"}} 
]}.

{post_hooks, [
       %% We need only erlydb and we don't want to introduce extra deps
       {'get-deps', "rm -rf deps/erlyweb/src/erlyweb"},
       {'get-deps', "rm -rf ../../deps/erlyweb/src/erlyweb"} % Can be a problem
]}.

